*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column; /* column, row, column-reverse, row-reverse */
    justify-content: flex-start; /* hr -- flex-end, flex-start, space-between, space-around, center */
    align-items: flex-start; /* vr --  flex-end, flex-start,center  */
    height: 100vh;
}
.sub-1{
    background-color: yellow;
    border: 1px solid lime;
    width: 200px;
    height: 200px;
    font-size: 2rem;
    line-height: 200px;
    text-align: center;
    order: 4;
}
.sub-2{
    background-color: yellow;
    border: 1px solid lime;
    width: 200px;
    height: 200px;
    font-size: 2rem;
    line-height: 200px;
    text-align: center;
    order: 2;
}
.sub-3{
    background-color: yellow;
    border: 1px solid lime;
    width: 200px;
    height: 200px;
    font-size: 2rem;
    line-height: 200px;
    text-align: center;
    order: 1;
}
.sub-4{
    background-color: yellow;
    border: 1px solid lime;
    width: 200px;
    height: 200px;
    font-size: 2rem;
    line-height: 200px;
    text-align: center;
    order: 3;
    align-self: flex-end;
}